<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.dao.mybatis.TDInsideApiMapper">
    <resultMap id="BaseResult" type="com.soft.entity.TDInsideApi">
        <id column="rec_id"  property="recId"></id>
        <result column="api" property="api"></result>
        <result column="model" property="model"></result>
        <result column="operator_type" property="operatorType"></result>
        <result column="operator_name"  property="operatorName"></result>
        <result column="status"  property="status"></result>
        <result column="remake"  property="remake"></result>
        <result column="create_man"  property="createMan"></result>
        <result column="create_time" property="createTime"></result>
        <result column="modify_man" property="modifyMan"></result>
        <result column="modify_time" property="modifyTime"></result>
    </resultMap>


    <sql id="Base_Column_List">
        a.rec_id,a.api,a.model,a.operator_type,a.operator_name,a.status,a.remake,a.create_man,a.create_time,a.modify_man,a.modify_time
    </sql>

    <select id="findTDInsideApi" resultMap="BaseResult" parameterType="map">
        select <include refid="Base_Column_List"/> from t_d_inside_api a
        <where>
            <if test="model != null">
                a.model = #{model}
            </if>
            <if test="api != null">
                and a.api = #{api}
            </if>
        </where>
    </select>

</mapper>